<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

</head>
<body>
<main>
    <ul th:if="${!products.isEmpty()}"></ul>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productName}"></td>
                <td th:text="${product.category}"></td>
            </tr>
            </tbody>
            <p th:if="${products.isEmpty()}">
                There is no products here!</p>
        </table>


</main>
</body>
</html>